#editor {
    display: grid;
    grid-template-columns: 1fr 40rem;
    grid-template-rows: auto 1fr;
}

/* Action bar */

#action-bar {
    grid-column: span 2;
    background-color: var(--bg-100);
    
    display: flex;
    justify-content: center;
    gap: 8px;
    
    padding: 12px;
    margin-bottom: 1px;
}

.action-btn {
    color: var(--text-200);

    background-color: var(--bg-light-100);
    padding: 0.4rem;

    border: none;
    border-radius: 5px;

    border-top: 1px solid var(--bg-light-200);
    border-left: 1px solid var(--bg-light-200);
    border-bottom: 1px solid var(--bg-200);
    border-right: 1px solid var(--bg-200);

    transition: all 100ms;

    svg {
        display: block;
        width: 3rem;
        height: 3rem;
    }
}

.action-btn:hover {

}

.action-btn:active {
    border-color: transparent;
    color: var(--text-300);

    svg {
        transform: translate(1px, 1px);
    }
}

/* Main panel */

#main-panel {
    background-color: var(--bg-300);
    box-shadow: inset -3px 3px 8px rgba(0, 0, 0, 0.2),
                inset -9px 9px 14px rgba(0, 0, 0, 0.1);
}

/* Side panel */

#side-panel {
    background-color: var(--bg-100);
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    button {
        padding: 0.4rem;
    }
}