@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --bg-100: hsl(0, 0%, 20%);
    --bg-200: hsl(0, 0%, 15%);
    --bg-300: hsl(0, 0%, 10%);

    --bg-light-100: hsl(0, 0%, 30%);
    --bg-light-200: hsl(0, 0%, 38%);

    --text-100: #D9D9D9;
    --text-200: #B3B3B3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Fira Code", sans-serif;
}

body {
    height: 100vh;
    font-size: 1.6rem;

    background-color: var(--bg-300);
}

body, #root {
    display: grid;
    grid-template-rows: 1fr;
}