@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --bg-100: #333333;
    --bg-200: #292929;
    --bg-300: #1A1A1A;

    --text-200: #B3B3B3;

    --border-100: 2px solid var();
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Fira Code", sans-serif;
}

body {
    height: 100vh;
    font-size: 1.6rem;

    background-color: var(--bg-300);
}

body, #root {
    display: grid;
    grid-template-rows: 1fr;
}