/* Common node styling */

.node {
    --node-header-text-color: #0D0D0D;
    --node-color: none;

    position: absolute;
    top: 0;
    left: 0;

    pointer-events: all;
    
    border-radius: 5px;
    overflow: hidden;
}

.node__regular,
.node__minimal {
    border: 2px solid var(--node-color);
}

.node__regular .node-body,
.node__minimal .node-body {
    background-color: var(--bg-200);
    color: var(--text-300);
    padding: 1.2rem;
}

.node__regular {
    .node-header {
        user-select: none;

        background-color: var(--node-color);
        padding: 0.2rem 2.4rem;

        font-weight: 500;
        text-align: center;
        color: var(--node-header-text-color);
    }
}

.connector-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.connector {
    display: block;
    width: 2.0rem;
    height: 2.0rem;

    fill: var(--bg-200);
    stroke: var(--text-100);
}

.connector.connected {
    fill: #cccccc;
}

/* Type specific node styling */

.node__entry {
    .node-body {
        display: flex;
        justify-content: flex-end;
    }
}

.node__end {
    .node-body {
        display: flex;
        justify-content: flex-start;
    }
}

.node__condition {
    .node-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }

    .input-connectors,
    .output-connectors {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    .input-connectors .connector-wrapper {
        justify-content: flex-start;
    }

    .output-connectors .connector-wrapper {
        justify-content: flex-end;
    }
}