/* Common node styling */

.node {
    --node-header-text-color: #0D0D0D;
    --node-color: hsl(145deg, 88%, 45%);

    position: absolute;
    top: 0;
    left: 0;

    pointer-events: all;
    
    border-radius: 5px;
    overflow: hidden;
}

.node__regular,
.node__minimal {
    border: 2px solid var(--node-color);
}

.node__regular .node-body,
.node__minimal .node-body {
    background-color: var(--bg-200);
    color: var(--text-200);
    padding: 1.2rem;
}

.node__regular {
    .node-header {
        background-color: var(--node-color);
        padding: 0.2rem 2.4rem;

        font-weight: 500;
        text-align: center;
        color: var(--node-header-text-color);
    }
}

.connector-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.connector {
    display: block;
    width: 2.0rem;
    height: 2.0rem;
}

/* Type specific node styling */

.node__entry {
    .node-body {
        display: flex;
        justify-content: flex-end;
    }
}