/* Common node styling */

.node {
    --node-header-text-color: #0D0D0D;
    --node-color: none;

    position: absolute;
    top: 0;
    left: 0;

    pointer-events: all;
    border-radius: 5px;
}

.node__regular,
.node__minimal {
    border: 2px solid var(--node-color);
}

.node__regular .node-body,
.node__minimal .node-body {
    background-color: var(--bg-200);
    color: var(--text-300);
    padding: 1.2rem;
}

.node__regular {
    .node-header {
        user-select: none;

        background-color: var(--node-color);
        padding: 0.2rem 2.4rem;

        font-weight: 500;
        text-align: center;
        color: var(--node-header-text-color);
    }
}

.connector-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.connector {
    display: block;
    width: 2.0rem;
    height: 2.0rem;

    fill: var(--bg-200);
    stroke: var(--text-100);
}

.connector.connected {
    fill: #cccccc;
}

.node-input,
.node-select {
    display: flex;
    gap: 0.4rem;
    height: 3rem;
}

.node-input {
    .input-wrapper {
        position: relative;
    }

    input {
        border: 1px solid var(--text-100);
        border-radius: 3px;
        background-color: transparent;
        color: inherit;
        width: 100%;
        padding: 0.2rem;
        font-size: inherit;
    }

    input:focus,
    input:focus-within {
        outline: none;
    }

    .text-display {
        position: absolute;
        border: 1px dashed var(--text-100);
        border-radius: 3px;
        background-color: var(--bg-200);
        word-wrap: break-word;
        width: 150%;
        left: 150%;
    }
}

.node-select {
    .select-outer {
        border: 1px solid var(--text-100);
        border-radius: 3px;
        background-color: transparent;
        width: 100%;
        cursor: pointer;
        padding: 0.2rem;
        position: relative;
    }

    .select-inner {
        width: calc(100% + 2px);
        
        position: absolute;
        top: 100%;
        left: -1px;
        z-index: 1;

        visibility: hidden;
        overflow: hidden;
    }

    .select-inner span {
        display: block;
        padding: 0.4rem 0.2rem;
        background-color: var(--bg-200);
        border-inline: 1px solid var(--text-100);

        transform: translateY(-100%);
        transition: all 60ms;
    }

    .select-inner span:last-child {
        border-bottom: 1px solid var(--text-100);
        border-radius: 0px 0px 3px 3px;
    }

    .select-inner span:first-child {
        border-top: 1px solid var(--text-100);
        border-radius: 3px 3px 0px 0px ;
    }

    .select-inner.active {
        visibility: visible;
        transform: translate(0);
    }

    .select-inner.active span {
        transform: translateY(0);
    }

    .select-display {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .select-display svg {
        height: 2.4rem;
        aspect-ratio: 1 / 1;
    }
}

/* Type specific node styling */

.node__entry {
    .node-body {
        display: flex;
        justify-content: flex-end;
    }
}

.node__end {
    .node-body {
        display: flex;
        justify-content: flex-start;
    }
}

.node__condition {
    .node-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }

    .input-connectors,
    .output-connectors {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    .input-connectors .connector-wrapper {
        justify-content: flex-start;
    }

    .output-connectors .connector-wrapper {
        justify-content: flex-end;
    }
}

.node__constant-emitter {
    .node-body {
        display: grid;
        grid-template-columns: 1fr min-content;
        flex-direction: column;
        row-gap: 0.6rem;
        column-gap: 0.2rem;

        .node-input,
        .node-select {
            grid-column: 1;
        }
    }
}