.viewport {
    display: grid;
    grid-template-areas: "stack";

    width: 100%;
    height: 100%;

    overflow: hidden;

    .connections-container,
    .viewport-workspace {
        pointer-events: none;
        grid-area: stack;
    }

    .grid-container,
    .connections-container {
        position: relative;
    }

    .viewport-workspace {
        transform-origin: top left;
        position: relative;
    }

    .grid-container {
        grid-area: stack;
    }

    .grid-container canvas {
        display: block;
        position: absolute;

        width: 100%;
        height: 100%;

        top: 0;
        left: 0;
    }

    .connections-container svg {
        position: absolute;

        width: 100%;
        height: 100%;

        top: 0;
        left: 0;
    }
}